# ignore all files
*

# unignore all dirs
!*/

# unignore source files
!*.java

# unignore Netbeans project files
!*.xml
!*.properties
!*.mf

# unignore Markdown files
!*.md

# unignore .gitignore
!.gitignore

/_temp
/concordance/nbproject/private/
/mlt/nbproject/private/
/mlt/build/
/mlt/dist/
/concordance/build/
/docking_simulator/dist/
/docking_simulator/build/
/docking_simulator/nbproject/private/
/temperature/nbproject/private/
/temperature/build/
/set_demo/nbproject/private/
/set_demo/build/
/vehicles/nbproject/private/
/vehicles/build/
/vehicles_enum/nbproject/private/
/vehicles_enum/build/
/collections/nbproject/private/
/collections/build/
/generics/nbproject/private/
/generics/build/
/get_html/nbproject/private/
/get_html/build/
/list_demo/nbproject/private/
/list_demo/build/
/varargs/nbproject/private/
/varargs/build/
/varsity_tutors/nbproject/private/
/varsity_tutors/build/
/threads/nbproject/private/
/threads/build/
/arrays/nbproject/private/
/arrays/build/
/enum_demo/nbproject/private/
/enum_demo/build/
/garbage_collection/nbproject/private/
/garbage_collection/build/
/gui_demo/nbproject/private/
/gui_demo/build/
/implicit_coupling/nbproject/private/
/implicit_coupling/build/
/java_sys_props/nbproject/private/
/java_sys_props/build/
/lambda/nbproject/private/
/lambda/build/
/nested_and_inner_classes/nbproject/private/
/nested_and_inner_classes/build/
