# ignore all files
*

# unignore all dirs
!*/

# unignore source files
!*.java

# unignore Netbeans project files
!*.xml
!*.properties
!*.mf

# unignore Markdown files
!*.md

# unignore .gitignore
!.gitignore

/concordance/nbproject/private/
/mlt/nbproject/private/
/mlt/build/
/mlt/dist/
/concordance/build/
/docking_simulator/dist/
/docking_simulator/build/
/temperature/nbproject/private/
/temperature/build/
/set_demo/nbproject/private/
/set_demo/build/
/vehicles/nbproject/private/
/vehicles/build/
/vehicles_enum/nbproject/private/
/vehicles_enum/build/
